body {
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
}
#panel {
    padding: 10px !important;
    margin: 0 !important;
    box-sizing: border-box;
    border-bottom: 1px #CCC solid;
    width: 100%;
    position: fixed;
    display: block;
    background-color: #FFF;
    z-index: 10;
    top:0px;
}

#protocol-editor {
    box-sizing: border-box;
    margin: 10px;
}
#panel .btn {
    margin-right: 15px;
}
#protocol-editor {
    border: 1px solid #CCC;
    margin-top: 56px;
}
.select-font-family {
    width: 300px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
}
.select-font-size {
    width: 140px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
}

.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}