body {
    margin: 0 !important;
    padding: 8px !important;
}
#panel {
    padding-bottom: 15px;
    box-sizing: border-box;
}

#protocol-editor {
    box-sizing: border-box;
}
#panel .btn {
    display: inline-block;
    height: 36px;
    text-align: left;
    border: 0;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px 30px 15px;
    vertical-align: top;
    margin-right: 16px;
    outline:0;
}
#panel .btn:hover {
    background: darkolivegreen;
    color: white;
}
#panel .btn:active {
    background: goldenrod;
    color: white;
}
#protocol-editor {
    border: 1px solid black;
}
.select-font-family {
    width: 300px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
}
.select-font-size {
    width: 140px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
}

.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}