body {
    margin: 0 !important;
    padding: 8px !important;
}
#panel {
    padding-bottom: 15px;
    box-sizing: border-box;
}

#protocol-editor {
    box-sizing: border-box;
}
#panel .btn {
    margin-right: 16px;
}
#protocol-editor {
    border: 1px solid black;
}
.select-font-family {
    width: 300px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
}
.select-font-size {
    width: 140px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
}

.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}